<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nhsoft.check">

    <application>
        <activity android:name=".ui.activity.DormRollCallActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.CheckActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.PhotoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.ThrowStudentActivity"
            android:screenOrientation="portrait"/>
    </application>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

</manifest>